<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Table</title>
</head>
<body>
<div th:if="${#lists.size(userlist) == 0}">
<h2>No users left to assign! </h2>
  <form th:action="@{/home}" method="get">
    <button type="submit">Go back!</button>
  </form>
</div>
<table  th:if="${#lists.size(userlist) > 0}">
  <thead>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${userlist}">
    <td th:text="${user.user_id}"></td>
    <td th:text="${user.role}"></td>
    <td>
      <form th:action="@{/admin/updaterole}" method="post" >
        <input type="hidden" name="userId" th:value="${user.user_id}"/>
        <select name="role">
          <option value="ROLE_DOCTOR">Doctor</option>
          <option value="ROLE_NURSE">Nurse</option>
          <option value="ROLE_PHARMACIST">Pharmacist</option>
          <option value="ROLE_LABDOC">Nurse</option>
          <option value="ROLE_PATIENT">Patient</option>

        </select>
        <button type="submit">Update Role</button>
      </form>
    </td>
  </tr>
  <h3>Please click on a user to assign a role</h3>
  </tbody>
</table>

</body>
</html>

