<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div> Full name:</div>  <div th:text="${fullname}"></div>
<hr>
<div> Email:</div>             <div th:text="${email}"></div>
<hr>
<div> Speciality:</div>                      <div th:text="${speciality}"></div>
<hr>
<div>Bachelor's Degree:</div>                 <div th:text="${bachelors}"></div>
<hr>
<div> Masters Degree:</div>              <div th:text="${masters}"></div>
<hr>
<div>PhD Degree :</div>            <div th:text="${phd}"></div>
<hr>
<hr>
<div>Experience :</div>            <div th:text="${experience}"></div>
<hr>
</body>
</html>