<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h3 th:text = "${reftext}"></h3>

<form th:unless="${added}" action="#" th:action="@{/doctor/registerdoc}" th:object="${formentity}" method="POST">

    <input type="text" th:field="*{doctor.fullName}" placeholder="Full name" >
    <hr>
    <label>Select a Speciality:</label>
    <select th:field="*{doctor.speciality}">
        <option value="Gastroenterology">Gastroenterology</option>
        <option value="Cardiology">Cardiology</option>
        <option value="Gynaecology">Gynaecology</option>
        <option value="Paediatrics">Paediatrics</option>
        <option value="General Physician">General Physician</option>
    </select><br/>
    <hr>

    <input type="text" th:field="*{docdet1.entry}" placeholder="Enter Bachelor's Qualification" >
<hr>
    <input type="text" th:field="*{docdet2.entry}" placeholder="Enter Master's Qualification" >
<hr>
    <input type="text" th:field="*{docdet3.entry}" placeholder="Enter PhD Qualification" >
<hr>
    <input type="text" th:field="*{docdet4.entry}" placeholder="Enter Previous Work Experience" >
<hr>
    <button type="submit">Submit details</button>


</form>

<div th:if="${added}">
    <form th:action="@{/doctor/viewdoc}" method="get">
        <button type="submit">View your profile</button>
    </form>
<hr>
    <form th:action="@{/doctor/viewappointments}" method="get">
        <button type="submit">View your apppointments!</button>
    </form>
    <hr>
    <form th:action="@{/doctor/viewrequests}" method="get">
        <button type="submit">Approve appointments!</button>
    </form>
</div>


</body>
</html>